:root
{
    font-family: Arial, Helvetica, sans-serif;
    color:#BFBDBA;

}

#logo
{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 20px;

}


header
{
    text-decoration: none;
    border-radius: 25px;
    width: 100%;
}

.naveg{
	position: fixed;
	top: 0px;
	margin-top:10px;
    padding: 10px;
    text-decoration: none; 
    text-align: center;
    border-radius: 30px;
    width: 100%;
	
}

a {
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

a:hover
{
    background: rgb(58,62,180);
}

#logo,#link-home
{
    text-decoration: none;
    background-color: #1d595300;
	background: none;
    font-size: 30px;
}

#end
{
    margin:auto;
    text-decoration: none; 
    display: block;
    text-align: center;
}

body {
    padding-left: 40px;
    background: rgb(58,62,180);
    background: linear-gradient(90deg, rgba(58,62,180,1) 0%, rgba(55,29,253,1) 50%, rgba(112,69,252,1) 100%);
}

.imagem-artigo
{
    display: inline-block;
    width: 70px;
    height: 70px;
}

img
{
    display: block;
}

.corpo
{
    padding: 5px;
    border-radius: 5px;

}

article{
    margin-bottom: 30px;
	font-size: 21px;
	font-weight: 400;
}

h1
{
    display: inline-block;
    align-self: center;
}

h2
{
    font-size: 30px;
}

h3
{
    font-size:20px;
    
}

.sem-format
{
    text-decoration: none;
    background-color: #ffffff00;

}
.sec-table
{  
	display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.div-table
{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    border: 0.4px solid #12bee9;
    width: 950px;
    margin-top: 20px;
}
thead {

    background-color: blueviolet;
    border: 0.4px solid #e91212;
    font-weight: 600;
    font-size: 30px;
}
tbody {
    background-color: cornflowerblue;
    border: 0.8px solid #e91212;
    font-size: 24px;
}
footer
{
    text-align: center;
    text-decoration: none; 
    border-radius: 10px;
    width: 100%;
	margin-top:200px;

}

@media (max-width: 600px)
{
  
	
	
		#logo,#link-home
	{
		text-decoration: none;
		background-color: #1d595300;
		background: none;
		font-size: 15px;
	}
		h1
	{
		display: inline-block;
		align-self: center;
	}

	h2
	{
		font-size: 15px;
	}

	h3
	{
		font-size:20px;

	}

	p
	{
		font-size:15px;
	}
	.sec-table
	{  
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
	.div-table
	{
		font-family: sans-serif;
		display: flex;
		flex-direction: column;
		font-size: 25px;
		color: #ffffff;
		text-align: center;
		border: 0.4px solid #12bee9;
		width: 950px;
		margin-top: 20px;
	}
	thead
	{
    	background-color: blueviolet;
    	border: 0.4px solid #e91212;
    	font-weight: 400;
    	font-size: 16px;
	}
	tbody 
	{
		background-color: cornflowerblue;
		border: 0.8px solid #e91212;
		font-size: 14px;
	}
	
	.corpo
	{
   		padding: 0px;
  	  	border-radius: 5px;

	}
	
	a 
	{
		text-decoration: none;
		color: #ffffff;
		border-radius: 10px;
		text-align: center;
		padding: 5px;
		
	}

	a:hover
	{
		background: rgb(58,62,180);
	}
	
	.naveg
	{
		position: fixed;
		top: 0px;
		margin-top:10px;
		padding: 10px;
		text-decoration: none; 
		text-align: center;
		border-radius: 30px;
		width: 100%;
		font-size: 14px;
}


}
