* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

body {
	background-color: #f1f1f1;
}

header img {
	height: 50px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;

}

nav li {
	margin-right: 20px;
}

nav a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	border-radius: 24px;
}

nav a:hover {
	transition: 1s;
	animation: colorCycle 1s infinite;
}

#sobre {
	height: 30px;
}

#sidepopup:hover {
	animation: colorCycle 1s infinite;
}

@keyframes colorCycle {
	0% {
		background-color: #e74c3c;
	}

	50% {
		background-color: #c0392b;
	}

	100% {
		background-color: #e74c3c;
	}
}

aside a {
	position: fixed;
	right: 1%;
	bottom: 1%;
	background-color: #e74c3c;
	color: #fff;
	border-radius: 25px;
	padding: 7px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}


.button {
	text-decoration: none;
	background-color: #e74c3c;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #c0392b;
	transition: 0.2s ease;
	animation: colorCycle 1s infinite;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;

}

section {
	margin-bottom: 40px;
}

section h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

section ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

}

section li {
	flex: 1;
	margin-right: 20px;
	margin-bottom: 20px;
}

.destaques {
	max-width: 400px;
}


section li a {
	display: block;
	text-decoration: none;
	color: #333;

}

section li img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.ativo {
	color: white;
	background-color: #e74c3c;
}

section li h3 {
	font-size: 18px;
	margin-bottom: 10px;
}

section li p {
	font-size: 14px;
	color: #666;
}

footer {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
	font-size: 14px;
	color: #999;
	margin-top: 40px;
}

form {
	max-width: 500px;
	margin: 0 auto;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	font-size: 16px;
}

select option {
	font-size: 16px;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
	display: inline-block;
	margin-right: 10px;
}

button[type="submit"] {
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	header {
		padding: 0px;
	}

	nav li {
		margin: 0;
	}

	.button {
		font-size: x-small;
		padding: 7px;
	}

	section ul {
		display: block;
	}

	section h3 {
		font-size: medium;
	}

	li a {
		font-size: x-small;
	}

	.destaques {
		max-width: fit-content;
	}

	p {
		font-size: x-small;
	}

	form {
		font-size: small;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	select,
	textarea {
		padding:5px;
	}
}